.sticky{
	position: sticky;
	top: 0;
	z-index: 2;
	background-color: #17334e;
	border-radius: 100px;
	width: 80%;
	margin-top: 10px;
}

.detailsContainer{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 2rem;
}

.gridContainer{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.collapse{
	min-width: 65%;
	max-width: 100%;
	margin-bottom: 1rem;
}

.firstitem{
	display: flex;
	flex-direction: column;
}

.subitem{
	border: solid /* #C88861 */ grey 1.5px;
	border-radius: 10px ;
	background : #fff; 
	min-width: 65%;
	max-width: 100%;
	height: 40px;
	display: flex;
	flex-direction: column;
	color : black;

}

.subitem.clicked{
	background-color: #C88861;
	color : #fff; 
}

.subitem:hover{
	animation: gridhover 10s linear 0s;
}

@keyframes gridhover {
	0% { color : #fff; }
	3% { background: #C88861/* 10273d */;}
	100% { background: #C88861/* 10273d */; color : #fff; }
}