.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 250px;
    overflow: hidden;
}

.content{
    max-width: 1200px;
    min-width: 85%;
}

.MainPageSearch{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.MainPageSearch h5{
    margin-top: 30px;
    margin-bottom: 50px;
}

.rw-words{
	display: inline;
	text-indent: 20px;
	text-align: center;
    word-wrap: break-word

}

.rw-words h2, .rw-words h3{
	position: absolute;
	opacity: 0;
	overflow: hidden;
    display: inline;
	animation: rotateWordsFirst 180s linear infinite 0s;
    max-width: 100%;
}

@keyframes rotateWordsFirst {
    0% { opacity: 0; animation-timing-function:ease-in; transform: translateY(-40px)}
    0.4% { opacity: 0.5; transform: translateY(-20px);}
    0.7% { opacity: 1; transform: translateY(0px)}
    1.7% {opacity: 1;transform: translateY(0px)}
    2.22% { opacity: 0; transform: translateY(20px)}
	2.23% { opacity: 0; transform: translateY(0px);}
    100% { opacity: 0; }
}

.details{
    background-color : #17334e;
    width : 100%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.droplet{
    height : 100%; 
}

.droplet::before{
    position : absolute; 
    right: 90px;
    bottom : 650px;
    background-color: white;
    height: 50px;
    width: 50px;
    content: '';
    border-radius: 90%;



    animation: droplet 4s linear infinite;

}

@keyframes droplet{
    100% { bottom : 50px }
}

/* .background{
	height : 100%;
} */

.background::after{
	background-color: /* #F0C035 */ #fff;
	content: '';
    border-top-left-radius: 100% 100%;
    border-top-right-radius: 10% 100%;
    position: absolute;
    left: 0;
    top : 100%;
    z-index: 0;
    width: 100%;
	height: 21%;

}


@media only screen and (max-width: 600px) {
    .rw-words h2, .rw-words h3{
      display: block;
      left:0;
      overflow: unset;
    }

    .MainPageSearch{
        margin-left: 10%;
        margin-right: 10%;
    }

    .MainPageSearch h5{
        margin-top: 80px;
    }

    .droplet::before{
        content : none;
    }
  }